<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WordCount</title>
  </head>
  <body>
    <h1>This is the WordCount Website!</h1>
    <br>
    <h2>About WordCount.</h2>
    <p>This is a word counter developed by Stu Chung. This is for the purpose of
    learning how to use Django and pyhton for production deployment.</p>
    <br>
    <h2>The WordCount for today was:</h2>
    {{ bytext }}
    <br><br>

    <div>
      <a href="{% url 'home' %}">Start WordCount</a>
    </div>

  </body>
</html>
